DATABASE_URL=
STELLAR_HORIZON_TESTNET=
STELLAR_HORIZON_MAINNET=
NODE_ENV=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLOUDFLARE_TUNNEL_TOKEN=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_CHECKOUT_URL=
NEXT_PUBLIC_DASHBOARD_URL=
NEXT_PUBLIC_PORTAL_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_DOCS_URL=
NEXT_PUBLIC_INVOICE_URL=
NEXT_PUBLIC_CURRENT_ENCRYPTION_KEY_VERSION=1
MASTER_ENCRYPTION_KEY=
ENCRYPTION_SALT=
SUBSCRIPTION_CONTRACT_ID=
NEXT_PUBLIC_RPC_URL_TESTNET=
NEXT_PUBLIC_RPC_URL_MAINNET=
KEEPER_SECRET=
KEEPER_PUBLIC_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_SHOW_MARKETPLACE_LAUNCHER=
SEND_PAYMENT_RECEIPT_EMAILS=false
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
RESEND_CC_EMAILS=
GSHEETS_SERVICE_ACCOUNT_KEY_B64=
STELLARTOOLS_ORG_DEFAULT_PAYOUT_ASSET_CODE=USDC
STELLARTOOLS_ORG_DEFAULT_PAYOUT_ASSET_ISSUER=GA5OJOBKLD4MJEZ6SE7FCNDXKHUQAEOKPDXAZTURGNTXL6BJHPMIC6BW
NEXT_PUBLIC_RESOURCE_ID_ALPHABET=

# MPP
MPP_SERVER_SECRET=
CHANNEL_FACTORY_TESTNET=
CHANNEL_FACTORY_MAINNET=