DATABASE_URL=
NODE_ENV=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
JWT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLOUDFLARE_TUNNEL_TOKEN=
NEXT_PUBLIC_APP_URL=
COOKIE_DOMAIN=
NEXT_PUBLIC_CHECKOUT_URL=
NEXT_PUBLIC_DASHBOARD_URL=
NEXT_PUBLIC_PORTAL_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_DOCS_URL=
NEXT_PUBLIC_INVOICE_URL=http://invoice.localhost:3000
MASTER_ENCRYPTION_KEY=
ENCRYPTION_SALT=
SUBSCRIPTION_CONTRACT_TESTNET_ID=
SUBSCRIPTION_CONTRACT_MAINNET_ID=
NEXT_PUBLIC_RPC_URL_TESTNET=
NEXT_PUBLIC_RPC_URL_MAINNET=
NEXT_PUBLIC_STELLAR_HORIZON_TESTNET=
NEXT_PUBLIC_STELLAR_HORIZON_MAINNET=
KEEPER_SECRET_TESTNET=
KEEPER_SECRET_MAINNET=
CHARGES_PUBLIC_KEY_TESTNET=
CHARGES_PUBLIC_KEY_MAINNET=
CHARGES_SECRET_KEY_TESTNET=
CHARGES_SECRET_KEY_MAINNET=
NEXT_PUBLIC_CAL_LINK=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
RESEND_APP_BASE_URL=http://localhost:3001
GHL_APP_BASE_URL=http://localhost:3002
GHL_INTERNAL_API_SECRET=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
RESEND_CC_EMAILS=
GSHEETS_SERVICE_ACCOUNT_KEY_B64=
NEXT_PUBLIC_RESOURCE_ID_ALPHABET=
CRON_SECRET=
OFFRAMP_TEST_SECRET=
SDF_TEST_ANCHOR_DOMAIN=
