# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
packages/*/node_modules
apps/**/node_modules
examples/**/node_modules
examples/**/dist


# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*storybook.log
storybook-static
packages/*/dist
packages/*/node_modules

**/target


# adapters test
/better-auth-test
/.pnpm-store

# mcp (WIP)
/mcp-server

MEMORY.md

# stellartools woocommerce plugin

/stellartools

# apps
apps/**/.next
apps/**/out
apps/**/coverage

examples/**/.next
examples/**/dist
examples/**/node_modules

apps/shopify/build