# ── MariaDB service  ────────────────────────────────
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root

# ── WordPress service (stellartools) ─────────────────────────────────────────
WORDPRESS_DB_HOST=${{db.RAILWAY_PRIVATE_DOMAIN}}
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change-me
WORDPRESS_DB_NAME=wordpress

